*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-text{
    font-size: 40px;
    text-align: left;
}
body{
    font-family: 'Baskerville Old Face', cursive;
    line-height: 1.5;
}
/*navbar*/
#menu-bar{
    width: 50px;
    height: 10px;
    margin: 50px 10px 10px 20px;
    position:fixed;
    cursor: pointer;
    z-index: 1;
}
  
.bar{
    background:orange;
    border-radius: 10%;
    transition: .4s;
}
#bar1{
    width:40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: #fff;
}
.change #bar1{
    transform: translateY(6px);
    rotate: z(45deg);
}
.change #bar3{
    transform: translateY(-15px);
    rotate: z(-45deg);
}
.change #bar2{
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
    text-transform:uppercase ;
    font-weight: bold;
   
}
.nav li a:hover{
    color: #fff;
    background: orange;
    padding-left: 10px;
}
.nav li{
    margin: 20px 10px 10px 20px;
    padding-top: 10px;
    list-style-type:none;
}
.nav{
    display: none;
    
}
.change-btn{
    display: block;
}

/*header*/
.header{
   /* display: flex;*/
    min-height: 100vh;
     background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
     url('selfm.png')center/cover no-repeat fixed;
    /* flex-direction: column;*/
    margin-top: auto; 
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.hero .title{
    color: #fff;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
  
}
.hero-button:hover{
    background: #fff;
    color: orange;
    border: none;
    

}
.pulsate{
    /*-webkit-*/animation: pulsate 3s ease-in-out;
    /*-webkit-*/animation-iteration-count:infinite ;
    opacity: .3;
    color: black;
}
@-webkit-keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }

}

/* End of header*/
/*==========About Section============*/
#about{
    padding: 40px;
}

.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
 transition: transform 2s ease, color 2s ease;
 transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/*=====end of Icon Section======*/
/*=====Menu Section======*/
.aboutme-image{
    min-height: 80vh;
    background: url("iosm.png") center/cover fixed no-repeat;
}
.aboutme-text{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-color: skyblue;
    columns: #0000;
    padding: 40px 0;
}
.aboutme-text-center{
    width: 90%;
    margin: 0 auto;
}
.aboutme-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.aboutme-text p{
    margin: 20px 0;
    line-height: 2;
}
.aboutme-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color:blue;
    cursor: pointer;
    border: 2px solid #000;
    margin-top:10px;
}
.aboutme-text a:hover{
    color:blue;
    background: #fff;
    border:none;

}
@media screen and (min-width:776px){
    .aboutme{
        display: flex;
    }
    .aboutme-text{
        flex: 0 0 30%;
    }
    .aboutme-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
    }
    .aboutme{
        background: skyblue;
    }
}
/*========End of Menu Section====*/


/*==========Social Icons====*/

#social-icons{
 height: 150px;
   background:#fff;
    text-align: center;
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius:5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color: #3b5998;
}
.twitter{
  color:  #38A1F3;
}
.instagram{
 color:   #e1306c;
}
.plus{
    color:#db4a39;
}
/*====end of Social Icons======*/

/*==========Footer========*/
.footer{
    background:#000;
    text-align: center;
}
.footer .text{
text-transform: uppercase;
color: #fff;
font-size: 24px;
margin-top: 20px;
}


/*-------------------------skills*/
.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per{
  height: 20px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.container{
      width: 90%;
      margin: auto;
      overflow: hidden;
    }
    /* contact form css */


    #contact-section{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url('contactm.png');
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100% ;
      padding-bottom: 2%;
    }

    #contact-section .container h2{
      text-align: center;
       text-decoration: underline;
        /* text-decoration-color:red; */
        text-underline-position: under;
        color: rgb(238, 235, 235);
        letter-spacing: 2px;
        
    }

    

    #contact-section .container p{
      text-align: center; 
      width: 70%; 
      margin-left: auto;
       margin-right: auto; 
       padding-bottom: 3%;
       color: #fff;
       letter-spacing:3px;
    }

    .contact-form i.fa{
      /* color: red; */
      /* color: #fff; */
      font-size: 22px; 
      padding: 3%;
      background-color: none;
      border-radius: 80%;
      margin: 2%;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
    }
    
    .contact-form i.fa:hover{
      cursor: pointer;
      border:2px solid white;
      color: white;
    }
     
      .contact-form{
        display: grid;
        grid-template-columns: auto auto;
         }
      
      .form-info{
        font-size: 16px;
        font-style: italic;
        color: white;
        letter-spacing: 2px;
      }
      input{
        padding: 10px;
        margin:10px;
        width: 70%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
      }

      input::placeholder{
        color: white;
      }
    
       textarea{
      padding: 10px;
      margin: 10px;     
      width: 70%;
      background-color:rgba(136, 133, 133, 0.5);
      color: white;
      border: none;
      outline:none;
     }
     textarea::placeholder{
       color: white;
     }
     
      
    
      .submit{
      width: 40%;
      background: none;
      padding: 4px;
      outline: none;
       /* border: 1px solid #fff;
      color: #fff; */
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 33px;
      text-align: center;
      cursor: pointer;
      letter-spacing: 2px;
      margin-left: 3%;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
     }

     .submit:hover{
           border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
     }

        /* media queries */
    @media (max-width: 768px){

 #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
      }
      #contact-section .submit{

        width: 60%;
      }
}




















